<form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full rounded-lg px-4 py-3 mt-4 text-gray-500 border bg-white dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
    
    <h4 class="mb-4 mt-1 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Enregistrement d'une Classe
    </h4>
    
    <span style="color: #0ef700" class="transition-opacity duration-300 ease-in-out" >
        {{success}}
    </span>
    
    <span style="color: red" class="transition-opacity duration-300 ease-in-out">
        {{echec}}
    </span>
    
    <div class="px-4 py-3 mt-4 0">  
        <div  class="inline-flex mt-1 w-full">
            <label for="niveau" class="mb-2 w-10 text-gray-900 dark:text-gray-400">
                Niveau
            </label>
            <div style="padding-left:10%" class="w-full">
                <select formControlName="niveau" (change)="niveauChosen(niveau.value)" name="niveau" id="niveau" class="w-full px-4 h-10 bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                    @for (item of niveaux?.results; track $index) {
                        <option value="{{item.id}}" [selected]="niveau.value==item.id">{{item.libelle}}</option>
                    }  
                </select>
            </div>
        </div>
        @if (form.controls['niveau'].errors && (form.controls['niveau'].dirty || form.controls['niveau'].touched)) {
            <small class="ml-10" style="padding-left:10%; color: red">Le niveau est obligatoire </small>
        } 
        <div  class="inline-flex mt-5 w-full">
            <label for="filiere" class="mb-2 w-10 text-gray-900 dark:text-gray-400">
                Filière
            </label>
            <div style="padding-left:10%" class="w-full">
                <select formControlName="filiere" (change)="filiereChosen(filiere.value)" name="filiere" id="filiere" class="w-full px-4 h-10 bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                    @for (item of filieres?.results; track $index) {
                        <option value="{{item.id}}" [selected]="filiere.value==item.id">{{item.libelle}}</option>
                    }
                </select>
            </div>
        </div>
        @if (form.controls['filiere'].errors && (form.controls['filiere'].dirty || form.controls['filiere'].touched)) {
            <small class="ml-10" style="padding-left:10%; color: red">La filière est obligatoire </small>
        } 
        <div  class="inline-flex mt-5 w-full text-gray-900 dark:text-gray-400" >
            <label  class="mb-2  w-10" >
                Libellé
            </label>
            <div style="padding-left:10%" class="w-full" >
                <input formControlName="libelle"  type="text" class="w-full px-4 h-10 bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
            </div>
        </div>
        @if (form.controls['libelle'].errors && (form.controls['libelle'].dirty || form.controls['libelle'].touched)) {
            <small class="ml-10" style="padding-left:10%; color: red">Le libellé doit contenir au moins 3 caractères </small>
        }
        <div  class="inline-flex mt-5 w-full text-gray-900 dark:text-gray-400" >
            <label  class="mb-2  w-10" >
                Effectif
            </label>
            <div style="padding-left:10%" class="w-full" >
                <input formControlName="effectif" type="number" class="w-full px-4 h-10 bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
            </div>
        </div>
        @if (form.controls['effectif'].errors && (form.controls['effectif'].dirty || form.controls['effectif'].touched)) {
            <small class="ml-10" style="padding-left:10%; color: red">L'effectif est obligatoire</small>
        }
        <div class="inline-flex mt-4 mb-4 w-full">
            <label class="mb-2 w-10"> </label>
            <div style="padding-left: 10%" class="w-full inline-flex">
                <input formControlName="isPlanned"  type="checkbox" name="" id="isP" class="rounded mt-1 w-3.5 h-3.5 mr-3">
            <label for="isP" class="text-gray-900 dark:text-gray-400 ">Planifié</label>
            </div>
        </div>
        <div *ngIf="isEdit" class="inline-flex mb-4 w-full">
            <label class="mb-2 w-10"> </label>
            <div style="padding-left: 10%" class="w-full inline-flex">
                <input formControlName="isArchived" type="checkbox" name="" id="isA" class="rounded mt-1 w-3.5 h-3.5 mr-3">
            <label  for="isA" class="text-gray-900 dark:text-gray-400 ">Archivé</label>
            </div>
        </div>
        <div class="inline-flex w-full">
            <label class="mb-2 w-10"> </label>
            <div style="padding-left: 10%" class="w-full flex justify-end">
                <button type="submit" [disabled]="form.invalid" class="px-4 cursor-pointer py-2 text-sm font-medium leading-5 text-red-600 transition-colors duration-150 bg-transparent border border-red-600 rounded-lg hover:text-white hover:bg-red-600 focus:outline-none focus:shadow-outline-red">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>

</form>

<!--
    <script>
        const niveau = document.querySelector("#niveau");
        const filiere = document.querySelector("#filiere");
        const libelle = document.querySelector("#libelle");

        var filiereLibelle = filiere.options[filiere.selectedIndex].innerText
        var niveauLibelle = niveau.options[niveau.selectedIndex].innerText

        if(niveau !=null){
            niveau.addEventListener("change", function (event) {
                const option = event.target.options[niveau.selectedIndex];
                niveauLibelle = option.innerText
                if(filiereLibelle !=""){ 
                    libelle.value = option.innerText + " " + filiereLibelle
                }
            }) 
        }

        if(filiere !=null ){
            filiere.addEventListener("change", function (event) {
                const option = event.target.options[filiere.selectedIndex];
                filiereLibelle = option.innerText 
                if(niveauLibelle !=""){
                    libelle.value = niveauLibelle + " " + option.innerText
                }
            }) 
        }

    </script>
-->