
<div class=" flex justify-end">
  <a routerLink="new/form"
    class="px-4 py-2 text-base font-medium leading-5 text-cyan-500 transition-colors duration-150 bg-transparent border-2 border-cyan-500 rounded-lg hover:text-white hover:bg-cyan-500   focus:outline-none focus:shadow-outline-purple"
  >
    Nouveau
  </a>
</div>
<div class="w-full flex">
    <form method="Post" style="width: 80%;" class="w-auto rounded-lg px-4 py-3 mt-4 text-gray-500 border bg-white dark:border-gray-700 dark:text-gray-400 dark:bg-gray-900">
      <div  class="inline-flex mt-1 mb-2 w-full justify-center">
        <div style="width: 38%;" class="text-base px-4 py-3 border border-gray-300 rounded-md dark:bg-zinc-600">
          <label for="select-prof-module" class="block mb-2 font-medium text-gray-900 dark:text-white">Module</label>
          <select #moduleSelect (change)="filterByModule(+moduleSelect.value)" id="select-prof-module" style="width:80%;" class="bg-gray-50 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value='0' >All</option>
            @for (item of modules; track $index) {
              <option value="{{item.id}}"> {{item.libelle}} </option> 
            } 
          </select>
        </div>
        <div style="width: 38%; margin-left:80px;" class="text-base px-4 py-3 border border-gray-300 rounded-md dark:bg-zinc-600">
          <label for="select-prof-grade" class="block mb-2 font-medium text-gray-900 dark:text-white">Grade</label>
          <select #gradeSelect (change)="filterByGrade(gradeSelect.value)" id="select-prof-grade" style="width:80%;" class="bg-gray-50 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" >All</option>
            @for (item of grades; track $index) {
              <option value="{{item}}"> {{item}} </option> 
            } 
          </select>
        </div>
        <div style="width: 38%; margin-left:80px;" class="text-base px-4 py-3 border border-gray-300 rounded-md dark:bg-zinc-600">
          <label for="select-prof-tel" class="block mb-2 font-medium text-gray-900 dark:text-white">Téléphone</label>
          <input #telSearch (keyup)="filterByPortable(telSearch.value)" type="text" name="" id="select-prof-tel" style="width:80%;" class="px-4 h-10 bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        </div>
      </div>
    </form>
</div>
  <h4 class="mb-4 mt-4 text-lg font-semibold text-gray-600 dark:text-white">
    Liste des Professeurs
  </h4>

  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-sm  font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
            style="color:#eb1616;"
          >
            <th class="px-4 py-3">N°</th>
            <th class="px-4 py-3">Nom et Prénoms</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Portable</th>
            <th class="px-4 py-3">Grade</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-900"
        >
          @for (item of response?.results; track $index) {
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3 text-sm"> {{item.id}} </td>
              <td class="px-4 py-3 text-sm"> {{item.nomComplet}} </td>
              <td class="px-4 py-3 text-sm"> {{item.email}} </td>
              <td class="px-4 py-3 text-sm"> {{item.portable}} </td>
              <td class="px-4 py-3 text-sm"> {{item.grade}} </td>
              <td class="px-4 py-3">
                <div class="flex items-center space-x-4 text-sm" *ngIf="mode=='NORMAL'">
                  <a routerLink="{{item.id}}/form" class="text-yellow-500 border rounded-md border-yellow-500 hover:bg-yellow-500 hover:text-white">
                    <button
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg  focus:outline-none focus:shadow-outline-gray"
                    aria-label="Edit"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                      ></path>
                    </svg>Edit
                  </button>
                  </a>
                  <a (click)="showDetail(item.id)" class="bg-cyan-500 text-white hover:bg-cyan-700 border rounded-md border-cyan-500">
                  <button 
                    class="btn-details flex items-center justify-between px-2 py-2 text-sm font-medium leading-5"
                    aria-label="Delete"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>Details
                  </button>
                  </a>
                  <a routerLink="{{item.id}}/affectation" class="dark:text-white text-gray-700 border rounded-md  hover:bg-gray-300 hover:text-black">
                    <button
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg focus:outline-none focus:shadow-outline-gray"
                    aria-label="Edit"
                    >
          
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    Affecter
                  </button>
                  </a>
                </div>
                <div class="flex items-center space-x-4 text-sm" *ngIf="mode=='PLANIFIER'">
                  <a (click)="planifierProfesseur(item.id)"
                    class="border rounded-md text-green-600  hover:bg-green-700 hover:text-white border-green-500">
                    <button
                      class=" flex items-center px-2 py-2 text-sm font-medium leading-5"
                      aria-label="Delete"
                    >
                      <svg fill="none"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-5 h-5"
                          aria-hidden="true"
                          viewBox="0 0 24 24"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>Planifier
                    </button>
                  </a>
                </div>
              </td>
            </tr>    
          }
        </tbody>
      </table>
    </div>
  </div>
  <app-pagination [data]="dataPagination" (onGetPageNumber)="paginate($event)"></app-pagination>
  